{% extends "base.html" %}
{% load static %}

{% block 'cssBlock' %}
{% endblock 'cssBlock' %}

{% block 'body' %}


<!-- content start -->
<div class="hero">
    <div class="container">
        <h1 class="title-5xl profile-title">Add Product</h1>
        <form class="form" action="{% url 'addProduct' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="profile-avatar">
                <h2 class="title-2xl">Product Picture</h2>
                <figure class="profile-figure">
                    <img src="{% static 'images/icons/user.svg' %}" alt="" class="profile-img">
                </figure>
                <div class="avatar-input-container">
                    <label for="img"> <img src="{% static 'images/icons/uplaod.svg' %}" alt="">Upload</label>
                    <input type="file" name="img" id="img" class="profile-img-input" accept="image/*">
                </div>
            </div>
            <div class="profile-info">
                <div class="input-container">
                    <label for="name" class="title-2xl">Product Name*</label>
                    <div class="box">
                        <input id="name" name="name" type="text" required>
                    </div>
                </div>
                <div class="input-container">
                    <label for="desc" class="title-2xl">Product Description*</label>
                    <div class="box">
                        <input id="desc" name="desc" type="text" required>
                    </div>
                </div>
                <div class="input-container">
                    <label for="price" class="title-2xl">Price*</label>
                    <div class="box">
                        <input id="price" name="price" type="text" required>
                    </div>
                </div>
                <button class="link-bg">Add</button>
            </div>
        </form>
    </div>
</div>

{% endblock 'body' %}


{% block 'jsBlock' %}
<!-- external scripts (cdns) -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.3.0/fontfaceobserver.min.js"
    integrity="sha512-7g/mtWY/pF5yAwrcHhRBBrDK3Tr1Xbjaweymp5/jiEmKJurJkRfi5grW5mKQx78wPRoQPOu1zfeWdJtsCw8QsQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

<!-- inner scripts -->
<script src="{% static 'js/uploadImg.js' %}"></script>
{% endblock 'jsBlock' %}