<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- styles -->
    <link rel="stylesheet" as="preload" href="./dist/index.css">

    <!-- extra -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

</head>

<body>
    <!-- navigation bar start -->
    <nav class="navigation"></nav>
    <!-- navigation bar end -->

    <!-- hamb burgermenu start -->
    <div class="hamb-menu" style="display: none"></div>
    <!-- hamb burgermenu end -->

    <!-- wrapper start -->
    <div class="wrapper" data-page="add-product">
        <!-- scroller start -->
        <div class="scroll-container">
            <!-- content start -->
            <div class="hero">
                <div class="container">
                    <h1 class="title-5xl profile-title">Add Product</h1>
                    <form class="form">
                        <div class="profile-avatar">
                            <h2 class="title-2xl">Product Picture</h2>
                            <figure class="profile-figure">
                                <img src="./assets/images/icons/user.svg" alt="" class="profile-img">
                            </figure>
                            <div class="avatar-input-container">
                                <label for="img"> <img src="./assets/images/icons/uplaod.svg" alt="">Upload</label>
                                <input type="file" name="img" id="img" class="profile-img-input">
                            </div>
                        </div>
                        <div class="profile-info">
                            <div class="input-container">
                                <label for="name" class="title-2xl">Product Name*</label>
                                <div class="box">
                                    <input id="name" name="name" type="text" required>
                                </div>
                            </div>
                            <div class="input-container">
                                <label for="desc" class="title-2xl">Product Description*</label>
                                <div class="box">
                                    <input id="desc" name="desc" type="text" required>
                                </div>
                            </div>
                            <div class="input-container">
                                <label for="price" class="title-2xl">Price*</label>
                                <div class="box">
                                    <input id="price" name="price" type="text" required>
                                </div>
                            </div>
                            <button class="link-bg">Add</button>
                        </div>
                    </form>
                </div>
            </div>

            <footer class="footer"></footer>
            <!-- content end -->
        </div>
        <!-- scroller end -->
    </div>
    <!-- wrapper end -->


    <!-- external scripts (cdns) -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.3.0/fontfaceobserver.min.js"
        integrity="sha512-7g/mtWY/pF5yAwrcHhRBBrDK3Tr1Xbjaweymp5/jiEmKJurJkRfi5grW5mKQx78wPRoQPOu1zfeWdJtsCw8QsQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

    <!-- inner scripts -->
    <script src="./js/index.js"></script>
    <script src="./js/uploadImg.js"></script>
    <script src="./js/global.js"></script>

</body>

</html>
