<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- styles -->
    <link rel="stylesheet" as="preload" href="./dist/index.css">

    <!-- extra -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

</head>

<body>
    <!-- navigation bar start -->
    <nav class="navigation">
    </nav>
    <!-- navigation bar end -->

    <!-- hamb burgermenu start -->
    <div class="hamb-menu" style="display: none"></div>
    <!-- hamb burgermenu end -->

    <!-- wrapper start -->
    <div class="wrapper" data-page="admin">
        <!-- scroller start -->
        <div class="scroll-container">
            <!-- content start -->

            <section class="dashboard">
                <div class="container">
                    <div class="top-bar">
                        <div class="orders-card card">
                            <div class="time">
                                <h2 class="title-3xl">08:29:03 AM</h2>
                                <p class="paragraph-sm">Realtime Insights</p>
                            </div>
                            <div class="date">
                                <h2 class="title-3xl">Today: <br /> 17th March 2023</h2>
                            </div>
                            <a href="#" class="link-bg">View Orders</a>
                        </div>
                        <div class="card-wrapper">
                            <div class="card overview-card">
                                <div class="card-header">
                                    <h2 class="title-5xl">342</h2>
                                    <figure class="circle">
                                        <img src="./assets/images/right-arrow.svg" alt="svg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="paragraph-md">Total Orders</p>
                                    <div class="info">
                                        <figure class="circle">
                                            <img src="./assets/images/right-arrow.svg" alt="svg">
                                        </figure>
                                        <p class="paragraph-sm">2 new employee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card overview-card">
                                <div class="card-header">
                                    <h2 class="title-5xl">342</h2>
                                    <figure class="circle">
                                        <img src="./assets/images/right-arrow.svg" alt="svg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="paragraph-md">Total Orders</p>
                                    <div class="info">
                                        <figure class="circle">
                                            <img src="./assets/images/right-arrow.svg" alt="svg">
                                        </figure>
                                        <p class="paragraph-sm">2 new employee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card overview-card">
                                <div class="card-header">
                                    <h2 class="title-5xl">342</h2>
                                    <figure class="circle">
                                        <img src="./assets/images/right-arrow.svg" alt="svg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="paragraph-md">Total Orders</p>
                                    <div class="info">
                                        <figure class="circle">
                                            <img src="./assets/images/right-arrow.svg" alt="svg">
                                        </figure>
                                        <p class="paragraph-sm">2 new employee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card overview-card">
                                <div class="card-header">
                                    <h2 class="title-5xl">342</h2>
                                    <figure class="circle">
                                        <img src="./assets/images/right-arrow.svg" alt="svg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="paragraph-md">Total Orders</p>
                                    <div class="info">
                                        <figure class="circle">
                                            <img src="./assets/images/right-arrow.svg" alt="svg">
                                        </figure>
                                        <p class="paragraph-sm">2 new employee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card overview-card">
                                <div class="card-header">
                                    <h2 class="title-5xl">342</h2>
                                    <figure class="circle">
                                        <img src="./assets/images/right-arrow.svg" alt="svg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="paragraph-md">Total Orders</p>
                                    <div class="info">
                                        <figure class="circle">
                                            <img src="./assets/images/right-arrow.svg" alt="svg">
                                        </figure>
                                        <p class="paragraph-sm">2 new employee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card overview-card">
                                <div class="card-header">
                                    <h2 class="title-5xl">342</h2>
                                    <figure class="circle">
                                        <img src="./assets/images/right-arrow.svg" alt="svg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="paragraph-md">Total Orders</p>
                                    <div class="info">
                                        <figure class="circle">
                                            <img src="./assets/images/right-arrow.svg" alt="svg">
                                        </figure>
                                        <p class="paragraph-sm">2 new employee</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="sales-card card">
                            <div class="header">
                                <h2 class="title-3xl">Sales Comparison Chart</h2>
                                <div class="duration">
                                    <p class="title-2xl">Daily</p>
                                    <p class="title-2xl">Weekly</p>
                                    <p class="title-2xl">Monthly</p>
                                </div>
                            </div>
                            <div class="chart">
                                <canvas id="sales-chart"></canvas>
                            </div>
                        </div>
                        <div class="weekly-card card">
                            <div class="header">
                                <h2 class="title-3xl">Weekly Sales</h2>
                            </div>
                            <div class="chart">
                                <canvas id="weekly-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="footer"></footer>
            <!-- content end -->
        </div>
        <!-- scroller end -->
    </div>
    <!-- wrapper end -->


    <!-- external scripts (cdns) -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.3.0/fontfaceobserver.min.js"
        integrity="sha512-7g/mtWY/pF5yAwrcHhRBBrDK3Tr1Xbjaweymp5/jiEmKJurJkRfi5grW5mKQx78wPRoQPOu1zfeWdJtsCw8QsQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

    <!-- inner scripts -->
    <script src="./js/index.js"></script>
    <script src="./js/admin.js"></script>
    <script src="./js/global.js"></script>
</body>

</html>
