{% extends "base.html" %}
{% load static %}

{% block 'cssBlock' %}
{% endblock 'cssBlock' %}

{% block 'body' %}

<div class="hero">
    <div class="container">
        <h1 class="title-5xl">Cart Items</h1>
        <ul class="cart-list">
            {% for product in products %}
            <li class="cart-item">
                <div class="action-btns">
                    <a href="/removeFromCart/{{ product.id }}">
                        <button class="remove-btn">
                            <img src="{% static 'images/icons/cross.svg' %}" alt="x">
                        </button>
                    </a>
                    <!-- <button class="like-btn">
                                    <svg width="144" height="123" viewBox="0 0 144 123" fill="rgba(0,0,0)"
                                        stroke="rgba(0,0,0)" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.7285 72.1809L13.728 72.1804C5.28008 64.3254 0.5 53.3057 0.5 41.786V40.1567C0.5 20.7653 14.5259 4.23083 33.6634 1.04034C46.3293 -1.06816 59.2171 3.06569 68.2717 12.1095L71.6467 15.4806L72 15.8335L72.3533 15.4806L75.7283 12.1095C84.7829 3.06569 97.6707 -1.06816 110.337 1.04034C129.474 4.23083 143.5 20.7653 143.5 40.1567V41.786C143.5 53.3057 138.72 64.3254 130.272 72.1804L130.271 72.1809L79.4497 119.572C77.4332 121.452 74.7707 122.5 72 122.5C69.2293 122.5 66.5668 121.452 64.5503 119.572L13.7285 72.1809Z" />
                                    </svg>
                                </button> -->
                </div>
                <figure class="cart-figure">
                    <img src="{{ product.img.url }}" alt="cheese">
                </figure>
                <div class="cart-details">
                    <h1 class="title-3xl">{{ product.name }}</h1>
                </div>
                <div class="cart-quantity">
                    <a href="/cart/dicrementProductQuntity/{{product.id}}"> <button class="increament">-</button></a>
                    <span>{{ product.quntity }}</span>
                    <a href="/cart/incrementProductQuntity/{{product.id}}"><button class="increament">+</button></a>
                </div>
                <span class="cart-price">
                    &#8377; {{ product.prize }}
                </span>
            </li>
            {% endfor %}

            <li class="cart-item">
                <h2 class="title-3xl">Total Amount</h2>
                <div class="stack">
                    <div class="cart-price">&#8377; {{ cart.total_prize }}</div>
                    <a href="buyCart/{{cart.id}}" class="link-bg">Buy Now</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- content end -->

{% endblock 'body' %}


{% block 'jsBlock' %}
<!-- external scripts (cdns) -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.3.0/fontfaceobserver.min.js"
    integrity="sha512-7g/mtWY/pF5yAwrcHhRBBrDK3Tr1Xbjaweymp5/jiEmKJurJkRfi5grW5mKQx78wPRoQPOu1zfeWdJtsCw8QsQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

<!-- inner scripts -->
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>
{% endblock 'jsBlock' %}