{% extends "base.html" %}
{% load static %}

{% block 'cssBlock' %}{% endblock 'cssBlock' %}
{% block 'title' %} Dashboard {% endblock 'title' %}

{% block 'body' %}

<!-- content start -->

<section class="dashboard">
    <div class="container">
        <div class="dashboard-item monthly">
            <div class="tab-wrapper">
                <button class="tab-btn active">Mothly</button>
                <button class="tab-btn">Yearly</button>
            </div>
            <div class="chart-wrapper">
                <div class="card sales-card big-card">
                    <div class="header">
                        <h2 class="title-3xl">Monthly Sales</h2>
                        <!-- <h2 class="title-2xl">Year : 2023</h2> -->
                    </div>
                    <div class="chart">
                        <canvas id="monthly-chart"></canvas>
                    </div>
                </div>
                <div class="card info-card">
                    <div class="header">
                        <h2 class="title-3xl">Total Income</h2>
                    </div>
                    <div class="card-details">
                        <p class="paragraph-md"><span class="bold">Yearly Income :</span> <br />
                            &#8377;{{yearlySalse.total}}
                        </p>
                        <p class="paragraph-md"><span class="bold">Monthly Income :</span> <br />
                            &#8377;{{monthlySalse.total}}
                        </p>
                        <p class="paragraph-md"><span class="bold">Average Daily Income :</span> <br />
                            &#8377;{{yearlySalse.avarage_daily_salse}}
                        </p>
                    </div>
                </div>
                <div class="yearly-card card small-card">
                    <div class="header">
                        <h2 class="title-3xl">Yearly Sales</h2>
                    </div>
                    <div class="chart">
                        <canvas id="yearly-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-item item">
            <div class="tab-wrapper">
                <button class="tab-btn active">Item-wise</button>
                <button class="tab-btn">Customer-wise</button>
            </div>
            <div class="chart-wrapper">
                <div class="card sales-card big-card">
                    <div class="header">
                        <h2 class="title-3xl">Item Sales</h2>
                    </div>
                    <div class="chart">
                        <canvas id="items-chart"></canvas>
                    </div>
                </div>
                <div class="card info-card">
                    <div class="header">
                        <h2 class="title-3xl">Total Sales</h2>
                    </div>
                    <div class="card-details">
                        <p class="paragraph-md"><span class="bold">Yearly Sales :</span> <br />
                            {{yearlySalse.total}}
                        </p>
                        <p class="paragraph-md"><span class="bold">Monthly Sales :</span> <br />
                            {{monthlySalse.total}}
                        </p>
                        <p class="paragraph-md"><span class="bold">Average Daily Sales :</span> <br />
                            {{yearlySalse.avarage_daily_salse}}
                        </p>
                    </div>
                </div>
                <div class="yearly-card card small-card">
                    <div class="header">
                        <h2 class="title-3xl">Customer Sales</h2>
                    </div>
                    <div class="chart">
                        <canvas id="customer-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- content end -->

{% endblock 'body' %}

{% block 'jsBlock' %}

<!-- external scripts (cdns) -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.3.0/fontfaceobserver.min.js"
    integrity="sha512-7g/mtWY/pF5yAwrcHhRBBrDK3Tr1Xbjaweymp5/jiEmKJurJkRfi5grW5mKQx78wPRoQPOu1zfeWdJtsCw8QsQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

<!-- inner scripts -->
<script src="{% static 'js/admin.js' %}"></script>
<script>
    const monthlyChart = document.getElementById("monthly-chart")
    const yearlyChart = document.getElementById("yearly-chart")
    const itemsChart = document.getElementById("items-chart")
    const customerChart = document.getElementById("customer-chart")

    const iChart = new Chart(itemsChart, {
        type: "bar",
        data: {
            labels: {{ itemWiseSalse.lable | safe }},
    datasets: [
        {
            label: "# of salse",
            data: {{ itemWiseSalse.data }},
        borderWidth: 1,
            },
    ],
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
            },
        },
        responsive: true,
            maintainAspectRatio: false,
    },
})

    const cChart = new Chart(customerChart, {
        type: "bar",
        data: {
            labels: {{ customerWiseSalse.lable | safe }},
    datasets: [
        {
            label: "# of Buying",
            data: {{ customerWiseSalse.data }},
        borderWidth: 1,
            },
    ],
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
            },
        },

        responsive: true,
            maintainAspectRatio: false,
    },
})

    const mChart = new Chart(monthlyChart, {
        type: "line",
        data: {
            labels: {{ monthlySalse.lable | safe }},
    datasets: [
        {
            label: "# monthly sales",
            data: {{ monthlySalse.data }},
        borderWidth: 1,
            },
    ],
    },
    options: {
        scales: {
            y: {
                type: "linear",
                    grace: "20%",
                        beginAtZero: true,
            },
        },
        responsive: true,
            maintainAspectRatio: false,
    },
})

    const yChart = new Chart(yearlyChart, {
        type: "line",
        data: {
            labels: {{ yearlySalse.lable }},
    datasets: [
        {
            label: "# yearly sales",
            data: {{ yearlySalse.data }},
        borderWidth: 1,
            },
    ],
    },
    options: {
        scales: {
            y: {
                type: "linear",
                    grace: "20%",
                        beginAtZero: true,
            },
        },
        responsive: true,
            maintainAspectRatio: false,
    },
})

</script>
{% endblock 'jsBlock' %}