{% load static %}
<!-- footer start -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-box">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'images/icons/logo.svg' %}" alt="logo" class="logo-image">
                </a>
                <div class="footer-box-content">
                    <p cl ass="paragraph-md"><a href="tel:+01 292 4411" class="animated-link">T: 01 292
                            4411</a></p>
                    <p class="paragraph-md"><a href="mailto:info@newkey.ie" class="animated-link">E:
                            info@newkey.ie</a></p>
                    <p class="paragraph-sm">Unit 29, Southgate, Dublin road, <br />
                        Drogheda, Co.Meath</p>
                </div>
            </div>
            <div class="footer-box-2">
                <div class="footer-list">
                    <a href="/about.html" class="link">About</a>
                    <a href="/projects.html" class="link">Projects</a>
                    <a href="/investor.html" class="link">Investing</a>
                    <a href="/contact.html" class="link">Contact</a>
                </div>
                <div class="footer-list">
                    <a href="{% url 'login' %}" class="link sign-in">Sign In <img
                            src=".{% static 'images/icons/right-arrow' %}.svg" alt="arrow" class="icon"></a>
                </div>
            </div>
        </div>
        <div class="footer-panel">
            <p class="paragraph-xs">
                copyright 2023 NewKey Homes | All rights Reserved | <a href="/privacy.html"
                    class="animated-link">Privacy&nbsp;Policy</a>
            </p>
            <p class="paragraph-xs">
                <a href="{% url 'home' %}" class="animated-link">Crafted</a>
            </p>
        </div>
    </div>
</footer>
<!-- footer end -->