{% extends "base.html" %}
{% load static %}
{% block 'cssBlock' %}

{% endblock 'cssBlock' %}
{% block 'body' %}

<section class="grocery">
    <div class="container">
        <h1 class="title-5xl grocery-title">Groceries</h1>
        <img src="{% static "images/icons/logo-2.svg" %}" alt="">
        <div class="swiper grocery-slider">
            <div class="swiper-wrapper">
                <div class="grocery-card-wrapper swiper-slide">
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/atta.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Atta</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/butter.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Butter</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/cheese.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Cheese</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/daal.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Daal</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/ghee.png" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Ghee</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/jaggery.jpg" %}" alt="grocerg">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Jaggery</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/rice.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Rice</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/salt.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Salt</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/sugar.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Sugar</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/atta.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Atta</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/butter.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Butter</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/cheese.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Cheese</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <div class="grocery-card-wrapper swiper-slide">
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/atta.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Atta</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/butter.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Butter</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/cheese.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Cheese</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/daal.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Daal</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/ghee.png" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Ghee</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/jaggery.jpg" %}" alt="grocerg">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Jaggery</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/rice.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Rice</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/salt.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Salt</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/sugar.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Sugar</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/atta.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Atta</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/butter.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Butter</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/cheese.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Cheese</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <div class="grocery-card-wrapper swiper-slide">
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/atta.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Atta</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/butter.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Butter</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/cheese.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Cheese</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/daal.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Daal</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/ghee.png" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Ghee</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/jaggery.jpg" %}" alt="grocerg">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Jaggery</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/rice.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Rice</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/salt.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Salt</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/sugar.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Sugar</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/atta.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Atta</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/butter.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Butter</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                    <div class="grocery-card">
                        <figure class="card-figure">
                            <img src="{% static "images/cheese.jpg" %}" alt="grocery">
                        </figure>
                        <div class="card-content">
                            <h2 class="title-3xl">Cheese</h2>
                            <p class="paragraph-sm">
                                Lorem ipsum dolor sit amet consect adipisicing elit.
                                Accusamus, cum.
                            </p>
                            <span class="price">&#8377; 200</span>
                            <button class="link-bg cart">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-controls">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
{% endblock 'body' %}

{% block 'jsBlock' %}

<!-- external scripts (cdns) -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- inner scripts -->
<script src="{% static "js/home.js" %}"></script>
<script src="{% static "js/global.js" %}"></script>
{% endblock 'jsBlock' %}