{% load static %}
<!-- nav start -->
<nav class="navigation">
    <div class="container">
        <div class="navigation-box">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/icons/logo.svg' %}" alt="" class="logo-image">
            </a>
            <div class="navigation-links">
                <a href="{% url 'profile' %}" class="link">Profile</a>
                <a href="/admin.html" class="link">Admin</a>
                <a href="{% url 'addProduct' %}" class="link">Add Product</a>
            </div>
        </div>
        <div class="navigation-box">
            <a href="{% url 'cart' %}" class="link cart-link">Cart <img src="{% static 'images/icons/cart.svg' %}"
                    alt=""></a>
            <a href="{% url 'login' %}" class="link sign-in">
                Sign In <img src="{% static 'images/icons/right-arrow.svg' %}" alt="arrow" class="icon">
            </a>
        </div>
        <button class="hamb-btn">
            <div class="divider"></div>
            <div class="divider"></div>
        </button>
    </div>
</nav>

<!-- nav end -->

<!-- hamburgar start -->
<div class="hamb-menu" style="display: none">
    <ul class="hamb-list">
        <a href="{% url 'profile' %}" class="hamb-link">Profile</a>
        <a href="/admin.html" class="hamb-link">Admin</a>
        <a href="{% url 'cart' %}" class="link cart-link">Cart <img src="{% static 'images/icons/cart.svg' %}"
                alt=""></a>
        <a href="{% static " login" %}" class="hamb-link sign-in">
            Sign In <img src="{% static 'images/icons/right-arrow.svg' %}" alt="arrow" class="icon">
        </a>
    </ul>
</div>

<!-- hamburgar end -->