{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- styles -->
    <link rel="stylesheet" as="preload" href="{% static "dist/index.css" %}">

    <!-- extra -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

</head>

<body>
    <!-- navigation bar start -->
    <nav class="navigation"></nav>
    <!-- navigation bar end -->

    <!-- hamb burgermenu start -->
    <div class="hamb-menu" style="display: none"></div>
    <!-- hamb burgermenu end -->

    <!-- wrapper start -->
    <div class="wrapper" data-page="register">
        <!-- scroller start -->
        <div class="scroll-container">
            <!-- content start -->
            <div class="hero">
                <div class="container">
                    <h1 class="title-5xl profile-title">Register</h1>
                    <form class="form" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="profile-avatar">
                            <figure class="profile-figure">
                                <img src="{% static "images/icons/user.svg" %}" alt="" class="profile-img" accept="image/*" >
                            </figure>
                            <div class="avatar-input-container">
                                <label for="img"> <img src="{% static "images/icons/uplaod.svg" %}" alt="">Upload</label>
                                <input type="file" name="img" id="img" class="profile-img-input">
                            </div>
                        </div>
                        <div class="profile-info">
                            <div class="input-container">
                                <label for="name" class="title-2xl">Username*</label>
                                <div class="box">
                                    <input id="name" name="name" type="text" required>
                                </div>
                            </div>
                            <div class="input-container">
                                <label for="Email" class="title-2xl">Email*</label>
                                <div class="box">
                                    <input id="Email" name="Email" type="email" required>
                                </div>
                            </div>
                            <!-- <div class="input-container">
                                <label for="role" class="title-2xl">Role*</label>
                                <div class="box">
                                    <select id="role" name="role" required>
                                        <option value="customer">Customer</option>
                                        <option value="employee">Employee</option>
                                        <option value="admin">Admin</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="input-container">
                                <label for="Address" class="title-2xl">Address*</label>
                                <div class="box">
                                    <input id="Address" name="Address" type="text" required>
                                </div>
                            </div>
                            <div class="input-container">
                                <label for="phone" class="title-2xl">Contact No.*</label>
                                <div class="box">
                                    <input id="phone" name="phone" type="number" required>
                                </div>
                            </div>
                            <div class="input-container">
                                <label for="pwd" class="title-2xl">Password*</label>
                                <div class="box">
                                    <input id="pwd" name="pwd" type="number" required>
                                </div>
                            </div>
                            <div class="input-container">
                                <label for="cpwd" class="title-2xl">Confirm Password*</label>
                                <div class="box">
                                    <input id="cpwd" name="cpwd" type="number" required>
                                </div>
                            </div>
                            <button class="link-bg">Submit</button>
                            <p class="paragraph-sm text">*Register and get &#8377;1000 as welcome bonus!</p>
                        </div>
                    </form>
                </div>
            </div>

            <footer class="footer"></footer>
            <!-- content end -->
        </div>
        <!-- scroller end -->
    </div>
    <!-- wrapper end -->


    <!-- external scripts (cdns) -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.3.0/fontfaceobserver.min.js"
        integrity="sha512-7g/mtWY/pF5yAwrcHhRBBrDK3Tr1Xbjaweymp5/jiEmKJurJkRfi5grW5mKQx78wPRoQPOu1zfeWdJtsCw8QsQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/textify.js@3.0.1/dist/Textify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

    <!-- inner scripts -->
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
    <script src="{% static "js/global.js" %}"></script>

</body>

</html>
