
<style>
    .popup{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popupContainer{
        background-color: white;
        padding: 30px;
        border-radius: 10px;
    }
    .btn-box{
        display: flex;
        justify-content: space-between;
    }

</style>

<div class="popup" id="popup">
    <div class="popupContainer">
        <h2 class="title-3xl">
            Warning!!
        </h2>
        <br>
        <p class="paragraph-sm">Are you sure you wanna delete this!!</p>
        <br>
        <div class="btn-box">
            <button class="link-bg" onclick="removePopup()">Cancel</button>
            <a href="#" class="link-bg btn-2">Confirm</a>
        </div>
    </div>
    
</div>

<script>
    removePopup=()=>{
        popup.remove()
    }


</script>
